extends layout

block content
	.jumbotron
		.container
			h1 Make thoughtful Emails.
			p
				| Send smart and thoughtfully revised emails with the power of Bluemix
			p
				a.btn.btn-primary.btn-lg(href='/users/new', role='button') Get Started
