extends ../node_modules/jade-bootstrap/_bootstrap
doctype html
html
  head
    a(href='/')
      title= title
    link(rel="stylesheet", href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css", integrity="sha384-XXXXXXXX", crossorigin="anonymous")
    script(src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js", integrity="sha384-XXXXXXXX", crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js", type)
    script(src='/javascripts/application.js')
    meta(name="google-signin-scope" content="profile email")
    meta(name="google-signin-client_id" content=googleClient)
    script(src="https://apis.google.com/js/platform.js" async defer)

  block body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') SmartMail
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            if session.id
              li
                a(href='/users/' + currentUser.id) Sent
              li
                a(href='/mail') Drafts
              li
                a(href='/email/new') Compose
              li
                form(method="post", action="/sessions/" + session.id)
                  input(type="hidden", name="_method", value="delete")
                  button.btn.btn-default(type="submit", value="Log Out")
            else
              li
                a(href='/users/new') Sign Up
              li
                a(href='/sessions/new') Log In
              li
                div.g-signin2(data-onsuccess="onSignIn" data-theme="dark")

    block content
