extends ../layout

block content

	br
	br
	br
	div.error

	h2 Type your email below
	div.container
		form.email(name="send-user", action="/email", method="post")
			input.form-control(type="hidden", name="from", value=email)
			input.form-control(type="text", name="to", placeholder="Receiving email address")
			input.form-control(type="text", name="subject", placeholder="Subject")
			textarea.form-control(rows="4", name="text", placeholder="body")
			if (session.id == "573f743523cd5f1100547a73" || session.id == "573f5e3e091dbb473c1cdfad")
				input.btn.btn-primary(type="submit", value="Send")

		//- form(action='/users', method='post')
		//- 	p
		//- 		label(for='user[name]') Title:
		//- 		input(type='text', name='user[username]', placeholder='Username')
		//- 	p
		//- 		label(for='user[email]') Email:
		//- 		input(type='text', name='user[email]', value='Email')
		//- 	p
		//- 		input(type='submit', value=title ? 'Update' : 'Register')

