extends layout

block content


  div.error

  h2 Type your email below
  div.container
    form.email(name="send-user", action="/email", method="post")
      input.form-control(type="email", name="from", placeholder="Your Email")
      input.form-control(type="text", name="to", placeholder="Receiving email address")
      input.form-control(type="text", name="subject", placeholder="Subject")
      textarea.form-control(rows="4", name="text", placeholder="body")
      input.btn.btn-primary(type="submit", value="Send")

