doctype html
html
  head
    a(href='/')
      title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js", type)
    script(src='/javascripts/application.js')

  body.container
    h1 Emp Mail
    p Send a Smart Email.
    block content
