extends layout

block content

  h2 This is you
  div.container
    p Here is your email:
    dl.dl-horizontal
      dt email
      dd= email
      dt subject
      dd= subject
      dt text
      dd= text
